@font-face {
    font-family: "Instrument Sans";
    src: url("/assets/fonts/Instrument_Sans/static/InstrumentSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Instrument Sans";
    src: url("../fonts/Instrument_Sans/static/InstrumentSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "IS";
    src: url("../fonts/Instrument_Sans/static/InstrumentSans_Condensed-BoldItalic.ttf") format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.nav-item a {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    color: white;
    text-decoration: none;
}

.nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-item a:hover::after {
    width: 100%;
}

/* JUMBOTRON OR SECTION HERO */
.heading {
    font-family: 'Instrument Sans';
    font-weight: bold;
}

/* SERVICE */

.service {
    font-family: "IS",;
    font-weight: 100;
}



